@font-face {
  font-family: 'InputSans';
  src: local('InputSans'), local('InputSans-Regular'),
      url('/fonts/InputSans-Regular.woff2') format('woff2'),
      url('/fonts/InputSans-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InputSans';
  src: local('InputSans Italic'), local('InputSans-Italic'),
      url('/fonts/InputSans-Italic.woff2') format('woff2'),
      url('/fonts/InputSans-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'InputSans';
  src: local('InputSans Thin'), local('InputSans-Thin'),
      url('/fonts/InputSans-Thin.woff2') format('woff2'),
      url('/fonts/InputSans-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InputSans';
  src: local('InputSans ThinIta'), local('InputSans-ThinItalic'),
      url('/fonts/InputSans-ThinItalic.woff2') format('woff2'),
      url('/fonts/InputSans-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  --main-bg-color: #111111;
  --win-bg-color: #ffffff;
  --text-color: #ffffff;
  --accent-color: #fc533e;
  --med-f-color: #999999;
  --dark-f-color: #555555;
  --med-bg-color: #666666;
  --dark-bg-color: #333333;
}

html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'InputSans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: var(--main-bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
a:hover {
  border: none;
}
